.menu{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1em;
    background-color: var(--branco);
    padding: 2em 0;
    border-radius: 12px 12px 0 0;
}

.menu__container ul{
    margin: 0 1em 0 1em;
    display: flex;
}

.menu__container li{
    display: flex;
    flex-direction: column;
    margin-right: 23%;
}

.menu__acao{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cinza-principal);
    font-size: 12px;
    font-weight: 400;
}

.calendario__img, .clientes__img, .relatorio__img, .menu__img{
   background-repeat: no-repeat;
   width: 24px;
   height: 24px;
   background-position: center;
   margin-bottom: 0.5em;
}

.calendario__img{
    background-image: url('../icons/calendarioicone.svg');
}

.clientes__img{
    background-image: url('../icons/clientes\ icone.svg');
}

.relatorio__img{
    background-image: url('../icons/relatorios\ icone.svg');
}

.menu__img{
    background-image: url('../icons/menu\ icone.svg');
}

.menu__btn-form{
    display: none;
}


@media screen and (min-width: 768px) {
   .menu__container{
    margin: 0 26%;
   }
}

@media screen and (min-width: 1440px){

    body{
        margin-left: 20%;
    }


    .menu__desktop{
        position: fixed;
        display: flex;
    }

    .menu {
        flex-direction: column;
        width: 20%;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--branco);
        box-shadow: 2px 4px 8px var(--cinza);
    }

    .menu__container{
        width: 100%;
        padding-bottom: 20em;
      
    }

    .menu__container ul{
        flex-direction: column;
        width: 100%;
       
    }

    .menu__container ul li{
        display: flex;
        flex-direction: row;
        align-items: center;

    }


    .menu__acao p{
        font-size: 25px;
        padding-bottom: 0.2em;
    }

    .calendario__img, .clientes__img, .relatorio__img, .menu__img{
        background-position: center;
        width: 40px;
        height: 40px;
        padding: 0.5em;
        margin-bottom: 0.5em;
    }

    .calendario__img{
        background-image: url('../img/calendario_desk.png');

    }

    .clientes__img{
        background-image: url('../img/clientes_desk.png');
    }

    .relatorio__img{
        background-image: url('../img/relatorio_desk.png');
    }

    .menu__img{
        background-image: url('../img/menu_desk.png');
    }
 
}

@media screen and (min-width: 2560px){
    body{
        margin-left: 12%;
    }

    .menu {
        width: 12%
    }
}